<header>
  <div id="logo">
    <a href="/home">
      <img src="assets/angular-logo.png" alt="Website logo, a server" />
    </a>
  </div>

  <nav>
    <ul>
      <li>
        <li>
          <button  class="pl-button-container" (click)="useLanguage('pl')">
            Pl
          </button>
        </li>
          <li>
            <button class="de-button-container" (click)="useLanguage('de')">
              De
            </button>
          </li>
      
      <li>
          <button>
              <a href="/landing">Birthdays</a>
          </button>
      </li>
      <li>
          <button>
              <a href="/home">Home</a>
          </button>
      </li>
    </ul>
  </nav>
</header>